.DS_Store
node_modules
/dist
/build


# local env files
.env.local
nt-backend/.env
nt-web-app/.env
nt-app/.env
.env.*.local
.run/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron
/.yarn/cache/
/.yarn/install-state.gz
jwt-secret.txt
*.sqlite
