node_modules
*.log
.next
app
dist
/renderer/out/404/index.html
/renderer/out/_next/static/chunks/pages/_app-44c2b5bc95eb8c1a.js
/renderer/out/_next/static/chunks/pages/_error-1ac136249be010d2.js
/renderer/out/_next/static/chunks/pages/home-bb806e473082d1c3.js
/renderer/out/_next/static/chunks/pages/next-5b5f1a2f41993709.js
/renderer/out/_next/static/chunks/626-44fcf845f0541d05.js
/renderer/out/_next/static/chunks/framework-38698f7be9dad502.js
/renderer/out/_next/static/chunks/main-3e2bc8dd9b8fb06f.js
/renderer/out/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js
/renderer/out/_next/static/chunks/webpack-975f6a13f6da10a1.js
/renderer/out/_next/static/PTy13AehtxiL_bwQzLwAx/_buildManifest.js
/renderer/out/_next/static/PTy13AehtxiL_bwQzLwAx/_ssgManifest.js
/renderer/out/home/index.html
/renderer/out/images/logo.png
/renderer/out/next/index.html
/renderer/out/404.html
